In [1]:
print("hello world")
print("gitam")

hello world
gitam

In [2]:
print("gitam",end="@")

gitam@

# Variables

In [5]:
a=10
print(a)
a*2

10

20

In [6]:
name="Gitam"
address="Hyd"
print("University Name",name,"Place",address)

University Name Gitam Place Hyd

In [1]:
b=int(input())
type(b)

5

int

# datatypes in python

In [4]:
a=10
b=11.5
c=2+1j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [5]:
a+b

21.5

In [6]:
b+c

(13.5+1j)

# strings

In [6]:
x="a"
y="python"
print(type(x))
type(y)

<class 'str'>

str

# converting int to string

In [7]:
i=100
print(type(i))
j=str(i)
type(j)

<class 'int'>

str

In [10]:
a="100"
print(type(a))
b=float(a)
print (type(b))
b

<class 'str'>
<class 'float'>

100.0

# operators

In [12]:
print("ðŸ˜Š" )

ðŸ˜Š

In [13]:
x=2
y=6
x+y

8

In [14]:
x-y

-4

In [15]:
x*y

12

In [16]:
x/y

0.3333333333333333

In [17]:
x+y

8

In [18]:
x%y

2

In [19]:
x//y

0

In [20]:
x**y

64

In [24]:

a=20
b=30
print(a>=10 and a<=15)

False

In [25]:
print(a>=10 and a<=30)

True

In [26]:
print(not a)

False

In [28]:
str1="abc"
print("c" in str1)

True

In [29]:
n=int(input("enter a number"))
if n%2!=0:
    print("odd")
else:
    print("even")

enter a number69
odd

In [38]:
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("divisible")
else:
        prin("not divisible")

enter a number60
divisible

In [39]:
n=int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("equal to zero")

enter a number69
positive

In [42]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

enter a number7
enter a number5
enter a number6
7

In [1]:
year=int(input("enter the year"))
if year%400==0 or year%4==0 and year%100!=0:
    print("leap year")
else:
    print("not a leap year")

enter the year2004
leap year