# continuing with string methods

In [1]:
s="Python"
print(s.upper())
printit(s.lower())

PYTHON
python

In [2]:
print(s)
print(s.islower())
print(s.isupper())

Python
False
False

In [3]:
s1="Python Programming"
s2="python programming"

print(s1.istitle())
print(s2.istitle())

True
False

In [4]:
#isAlpha
s3="python"
s4="py345"
print(s3.isalpha())
print(s4.isalpha())

True
False

In [5]:
#isSpace
s=" "
s1="py th on"
print(s.isspace())
print(s.isspace())

True
True

In [8]:
#Function to convert digits in a number in list

n = 189476
print ("The original number is " + str(n)) 
r = [int(x) for x in str(n)] 
print ("The list from number is " + str(r))

The original number is 189476
The list from number is [1, 8, 9, 4, 7, 6]

In [10]:
#Input:18976
#Output(1,8,9,7,6)
def NumberListConversion(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li

NumberListConversion(18976)

[1, 8, 9, 7, 6]

In [11]:
# Function to check factors of a given number
#Input=12
#Output=1,2,3,6,12
def FactorsList(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
FactorsList(12)

1 2 3 4 6 12

In [18]:
#input=500,520
def AlternateSequence(lb,ub):
    for i in range(lb,ub+2,2):
        print(i,end=" ")
AlternateSequence(500,520)

500 502 504 506 508 510 512 514 516 518 520

In [21]:
int(max(str(1234)))

4

In [22]:
int(min(str(1234)))

1

In [25]:
s="Python"
list(s)

['P', 'y', 't', 'h', 'o', 'n']

In [1]:
def factorial(n):
    fact=1
    i=1
    while i<=n:
        fact=fact*i
        i=i+1
    return fact
factorial(5)

120